.searchForm {
  margin: auto;
  position: relative;
  width: 600px;
}

.result {
  border: 1px solid rgb(190, 190, 190);
  width: 800px;
  height: 190px;
  margin: 10px auto;
  position: relative;
  background-color: #999;
}

.image {
  height: 120px;
  width: 120px;
  float: left;
  margin: 15px;
  transition: transform 0.3s;
}

.image:hover {
  -ms-transform: scale(1.5); /* IE */
  -webkit-transform: scale(1.5); /* Safari */
  transform: scale(1.5);
}

.image img {
  border: 1px solid #999;
  max-height: 100%;
  max-width: 100%;
}

.description {
  margin: 20px;
}

.logo {
  text-align: center;
}

.row {
  margin: 8px;
}
